@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&display=swap&family=Signika&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.show_home_page{
    position: relative;
    height: 100vh;
}

.container_video{
    position: absolute;
    top:0; left:0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, #15448d, #d50800);
}

.container_video video{
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;
}

.h1_welcome0{
    /*texto en medio de la página*/
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    position: absolute;
    text-align: center;
    background: radial-gradient(#000, #F5431D, #E86626, #E8DF26);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    top:40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 5px 5px  rgba(255, 252, 252, 0.9);
    -webkit-animation: slide-in-elliptic-down-fwd 3s cubic-bezier(0.985, 0.135, 0.750, 0.860);
	animation: slide-in-elliptic-down-fwd 3s cubic-bezier(0.985, 0.135, 0.750, 0.860);
}

.h1_welcome1{
    font-family: 'Lobster', cursive;
    text-align: center;
    border:#000;
    color:#fff;
    position: absolute;
    top:57%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 5px 5px  rgba(0, 0, 0, 0.9);
    -webkit-animation: slide-in-elliptic-down-fwd 4s cubic-bezier(0.985, 0.135, 0.750, 0.860);
    animation: slide-in-elliptic-down-fwd 4s cubic-bezier(0.985, 0.135, 0.750, 0.860);
}

.btn_start{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    border: none;
    border-radius: 24px;
    background: #FE2E2E;
    color: #fff;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.9);
    top:72%;
    left: 50%;
    right: 50%;
    width:100px;
    height:50px;
    cursor:pointer;
    transform: translateX(-50%) translateY(-50%);
    -webkit-animation: slide-in-elliptic-down-fwd 4s cubic-bezier(0.985, 0.135, 0.750, 0.860);
    animation: slide-in-elliptic-down-fwd 4s cubic-bezier(0.985, 0.135, 0.750, 0.860);
}

@-webkit-keyframes slide-in-elliptic-down-fwd {
    0% {
      -webkit-transform: translateY(-50%) rotateX(-50%) scale(0);
              transform: translateY(-50%) rotateX(-50%) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-50%) rotateX(-50%) scale(1);
              transform: translateY(-50%) rotateX(-50%) scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }

.container_form {
    /* background: #191919; */
    opacity: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; /*esconde el scroll*/
}

.form_info{
    margin:100px;
    background: #191919;
    width: 300px;
    height: 400px;
    padding: 40px;
    text-align: center;
}

.form_h1_title{
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding-bottom: 14px;
}

.form_h3_pie_rrss{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 5px;
}

.form_h3_pie_rrss:hover{
    color: #FE2E2E;
}

.form_inp{
    background: #fff;
    font-family: 'Bebas Neue', cursive;
    display:block;
    margin: 10px auto;
    text-align: center;
    border:3px solid #FE2E2E;
    padding: 10px 8px;
    width: 220px;
    height: 35px;
    color: #000;
    border-radius: 24px;
    transition: 0.25s;
}

.form_inp:focus {
    border:0;
    width: 230px;
    border-color: #ffffff;
}

.form_btn{
    border: 0;
    font-family: 'Bebas Neue', cursive;
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 40px;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form_btn:hover {
    background: #FA5858;
}

.label_rrss{
    display: flex;
    border: 1px solid #000;
    border-radius: 20px;
    cursor:pointer;
    text-align: center;
    padding: 2px;
    background: #fff;
    color: #000;
    height: 35px;
    margin: 2px;
}

.ico_facebook, .ico_google{
    width: 30px;
    height: 30px;
}

.form_h3_pie, .form_h3_inf{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 5px;
}

.form_h3_pie:hover{
    color: #FE2E2E;
    cursor:pointer;
}

.container_register {
    /* background: #191919; */
    opacity: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; /*esconde el scroll*/
}

.form_register{
    margin:100px;
    background: #191919;
    width: 300px;
    height: 400px;
    padding: 40px;
    text-align: center;
}

.form_inp_create{
    background: #fff;
    font-family: 'Bebas Neue', cursive;
    display:block;
    margin: 10px auto;
    text-align: center;
    border:3px solid #FE2E2E;
    padding: 10px 8px;
    width: 220px;
    height: 25px;
    color: #000;
    border-radius: 24px;
    transition: 0.25s;
}

.form_forgot_password{
    margin:100px;
    background: #191919;
    width: 300px;
    height: 400px;
    padding: 40px;
    text-align: center;
}

.form_h2_title{
    color: #fff;
}
/* .div_footer{
    z-index:1;
    text-align: center;
    margin-top: -30px;
    position: relative;
    color: #fff;
} */