@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Fjalla+One&family=Teko&family=Yanone+Kaffeesatz&displayfamily=Yanone+Kaffeesatz&display=swap&family=Signika&display=swap');

body{
    margin: 0;
    padding: 0;
    /* background: rgb(255,58,48);
    background: linear-gradient(90deg, rgba(255,58,48,1) 0%, rgba(228,20,20,1) 47%, rgba(235,115,29,1) 100%); */
    background: silver;
    font-family: 'Signika', sans-serif;
}

/*estilo de header*/
#header_navigation_profile{
    display:flex;
    background-color: #000;
    width: auto;
    height: 3.5em;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.logo{
    display:flex;
    align-items: center;
}

.logo img, .footer img {
    height: 45px;
    margin-right: 5px;
    cursor: pointer;
}

.name_logo{
    color: #fffbf4;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    cursor: pointer;
}

.li_header{

    list-style: none;
    float: right;
}

.nav_a_link{
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
}

.nav_a_link:hover{
    color: #d40704;
    transition: all 0.5s;
}

#btn_logout{
    cursor: pointer;
}

.btn-bar{
    float: right;
    line-height: 50%;
    color: #fff;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    display:none;
}

#check{
    display:none;
}
/*portada*/
#div_cover{
    background: #fff;
    width: 979px;
    height: 322px;
    margin-left:170px;
}

.btn_edit_cover{
position: absolute;
margin-top: 300px;
margin-left: 812px;
border-radius: 5px;
cursor:pointer;
font-family: 'Signika', sans-serif;
font-size: 16px;
}

/*aside profile de photo user*/
#section_profile_user{
    position: relative;
}
#aside_profile_user{
    position:absolute;
}
picture {
    display: flex;
    position: relative;
}

.img_photo_user{ 
    position: absolute;
    top:-207px;
    /* margin-top:10px; */
    margin-left:155px;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    border: 8px solid #fff;
}

.btn_edit_photo{
   position: absolute;
    left: 375px;
    top: 2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;

}

.fa-camera{
    font-size: 25px;
}
#article_profile_user {
background-color: #fff;
border-radius: 3%; 
width: 220px;
height: 250px;
margin-left: 185px;
margin-top: 100px;
position: relative;
padding: 20px;
}

#h2_perfil, #h3_perfil{

    font-family: 'Signika', sans-serif;
    font-size: 18px;
    }

#h2_perfil{
    margin-bottom:10px;
    text-align: center;
}
/*ventana dashboard del user*/
@media only screen and (min-width: 360px) and (max-width: 800px){
    .btn-bar{
        display:block;
    }
    .name_logo{
        display:none;
    }
    .nav_a_link{
        display:block;
        padding: 10px;
    }
    .nav_a_link:hover{
        color: #ffd7f4;
    }
    .nav_ul_link{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #81081a;
        left: -100%;
        top:48px;
        text-align: center;
        transition: all .5s;
    }
    #check:checked ~ .nav_ul_link{
        left:0;
    }

    .img_photo_user{ 
        margin-top:20px;
        margin-left:15px;
    }
    .btn_edit_photo{
        position: absolute;
        left: 130px;
        top: 122px;
        width: 40px;
        height: 40px;
    }
    /* .img_photo_user{ 
        width: 160px;
        height: 160px;
} */
}

/*scroll personalizado*/
body::-webkit-scrollbar{
    width: 7px;
    background: #520b12;
}
body::-webkit-scrollbar-thumb {
    background: #f5e1f6;
	border-right: 10px;
    scroll-behavior: smooth;
}

/*publicación del usuario*/
#section_publication{
    position: relative;
    float: right;
    top:-519px;
    width: 888px;
   
}
#div_publication_user{
    background-color: #fff;
    width: 622px;
    height: 250px;
    position: relative;
    left: 527px;
    top: -248px;
    border-radius: 10px;
}
.add_info_publication{
    position: absolute;
    display: flex;
    background:#2A2550;
    color: #fff;
    width: 100%;
    height: 40px;
    top: 211px;
    border-radius: 0 0 10px 10px;
}
#h3_publication_user{
font-family: 'Signika', sans-serif;
}

.add_info{
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    width: 50%;
    line-height: 35px;
    padding-left: 105px;
}
.add_info:hover{
    background:#180A0A;
    cursor: pointer;
    }
#file_cover, #file_photo, #file_photo_publication{
    display: none;
}

#div_publication_other_user{
    background-color: #fff;
    width: 622px;
    height: 250px;
    position: relative;
    left: 527px;
    top: -148px;
}
#text_description{
    border: none;
    width: 622px;
    height: 200px;
    font-size: 18px;
}
#div_publication_other_user{
    border-radius: 10px;
}
.article_publication_other_user{
    border-radius: 10px;
}

.btn_delete_post, .btn_edit_post{
    border-radius: 20px; 
    border: 0;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 40px;
    color: #fff;
    transition: 0.25s;
    cursor: pointer;
}

.btn_delete_post:hover, .btn_edit_post:hover {
    background: #FA5858;
}
.footer{
    text-align: center;
}

#add_edit_publication{
    display: none;
}

.btnPRUEBA{
    position: relative;
    color: red;
}