@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&display=swap');
/* @import url('./css/movil.css'); */
/*@import url("./css/tablets.css"); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
.show_home_page{
    position: relative;
    height: 100vh;
}

.container_video{
    position: absolute;
    top:0; left:0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container_video video{
    min-width: 100%;
    min-height: 100%;
}
.h1_welcome0{
    /*texto en medio de la página*/
    font-size: 120px;
    position: absolute;
    text-align: center;
    background: radial-gradient(#000, #F5431D, #E86626, #E8DF26);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    top:40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 5px 5px  rgba(255, 252, 252, 0.9);
    	-webkit-animation: slide-in-elliptic-down-fwd 4s cubic-bezier(0.985, 0.135, 0.750, 0.860);
	        animation: slide-in-elliptic-down-fwd 4s cubic-bezier(0.985, 0.135, 0.750, 0.860);
}
.h1_welcome1{
    font-family: 'Lobster', cursive;
    text-align: center;
    border:#000;
    color:#fff;
    position: absolute;
    top:57%;
    left: 50%;
  
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 5px 5px  rgba(0, 0, 0, 0.9);
    -webkit-animation: slide-in-elliptic-down-fwd 7s cubic-bezier(0.985, 0.135, 0.750, 0.860);
    animation: slide-in-elliptic-down-fwd 7s cubic-bezier(0.985, 0.135, 0.750, 0.860);
}
.btn_start{
    font-size: 20px;
    position: absolute;
    border: none;
    border-radius: 24px;
    background: #FE2E2E;
    color: white;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.9);
    top:72%;
    left: 50%;
    right: 50%;
    width:100px;
    height:50px;
    cursor:pointer;
    transform: translateX(-50%) translateY(-50%);
    -webkit-animation: slide-in-elliptic-down-fwd 7s cubic-bezier(0.985, 0.135, 0.750, 0.860);
    animation: slide-in-elliptic-down-fwd 7s cubic-bezier(0.985, 0.135, 0.750, 0.860);
}
@-webkit-keyframes slide-in-elliptic-down-fwd {
    0% {
      -webkit-transform: translateY(-50%) rotateX(-50%) scale(0);
              transform: translateY(-50%) rotateX(-50%) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-50%) rotateX(-50%) scale(1);
              transform: translateY(-50%) rotateX(-50%) scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }

.container_form {
    /* background: #191919; */
    opacity: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; /*esconde el scroll*/
}
.form_info{
    margin:100px;
    background: #191919;
    width: 300px;
    height: 400px;
    padding: 40px;
    text-align: center;
}
.form_h1_title{
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.form_h3_pie{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
.form_inp{
    background: none;
    display:block;
    margin: 20px auto;
    text-align: center;
    border:3px solid #FE2E2E;
    padding: 10px 8px;
    width: 200px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.form_inp:focus {
    border:0;
    width: 230px;
    border-color: #ffffff;
}
.form_btn{
    border: 0;
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 40px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form_btn:hover {
    background: #FA5858;
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
    .container_video video{
       width: auto;
    height: auto;
    }
    .h1_welcome0{
        top: 28%;
    }
    .h1_welcome1 {
        top: 50%;
    }
    .btn_start {
        top: 65%;
}
.form_info{
    margin: 50%;
}   
}
@media only screen and (min-width: 360px) and (max-width: 767px){
    .container_video video{
    width: auto;
    height: auto;
    }
    .h1_welcome0{
        top: 20%;
        font-size: 65px;
    }
    .h1_welcome1 {
        top: 48%;
        font-size: 23px;
    }
    .btn_start {
        top: 69%;
}
    .form_info{
    margin: 50%;
}
}
/*galaxy fold*/
@media only screen and (max-width: 280px) and (max-width: 359px){
    .container_video video{
    width: auto;
    height: auto;
    }
    .h1_welcome0{
        top: 20%;
        font-size: 50px;
    }
    .h1_welcome1 {
        top: 47%;
        font-size: 20px
    }
    .btn_start {
        top: 70%;
        width: 80px;
        height: 40px;
}
    .form_info{
    margin: 50%;
}
.form_h1_title{
    font-size: 20px;
}
}
/*.h1_welcome{
    visibility: hidden;
}
.form_input{
    visibility: hidden;
}*/
/* .container_form{
    
    font-size: 20px;
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    z-index: 2;
} */
/* 
.h1_welcome{
    padding: 150px;
}
.div_footer{
    position: absolute;
} */

/* .footer{
    z-index:1;
    text-align: center;
    margin-top: -30px;
    position: absolute;
}
.img_footer{
    z-index:-1;
    position: relative;
    width:30px;
    height:30px;
    margin-top: 0px;
} */